<div class="discription">
    <h5>About Us !</h5>

    <p>

        Founded in 1985, The Cake Shop has been serving our proud customers for quite some time now, becoming the most popular
         Dessert Shop around. We are a proud member of the Colombo local merchant community, and love every opportunity to
          interact with our customers as we provide them with the freshest and most delicious ingredients. We have a wide 
          selection of quality products that we’re sure you’ll just love. Stop by to have a taste!
    </p>
</div>


