.mainContent {
    display: flex;
    flex-direction: row;
    width: 60%;
    flex-wrap: wrap;
}

.cakeGallery {
    display: flex;
    flex-direction: column;
    margin: .4rem;
    padding: .4rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}