<div class="mainContent">

    <div class="cakeGallery">
        <img src="assets/images/our cake/butter-cake.webp" width="400px" height="200px"/>
        <div class="cakeCard">
            <h5>Butter Cake</h5>
            <small>550</small>
        </div>
        <p></p>
    </div>

    <div class="cakeGallery">
        <img src="assets/images/our cake/butterscotch.webp" width="400px" height="200px"/>
        <div class="cakeCard">
            <h5>Butterscotch</h5>
            <small>750</small>
        </div>
        <p></p>
    </div>

    <div class="cakeGallery">
        <img src="assets/images/our cake/coffee-cake.webp" width="400px" height="200px"/>
        <div class="cakeCard">
            <h5>Coffee Cake</h5>
            <small>1250</small>
        </div>
        <p></p>
    </div>

    <div class="cakeGallery">
        <img src="assets/images/our cake/coffee-cake-with-roasted-nuts.webp" width="400px" height="200px"/>
        <div class="cakeCard">
            <h5>Coffee Cake with Roasted Nuts</h5>
            <small>1000</small>
        </div>
        <p></p>
    </div>

    <div class="cakeGallery">
        <img src="assets/images/our cake/date-cake.webp" width="400px" height="200px"/>
        <div class="cakeCard">
            <h5>Date Cake</h5>
            <small>550</small>
        </div>
        <p></p>
    </div>

    <div class="cakeGallery">
        <img src="assets/images/our cake/date-cake-with-butterscotch-topping.webp" width="400px" height="200px"/>
        <div class="cakeCard">
            <h5>Date cake with Butterscotch Topping</h5>
            <small></small>
        </div>
        <p></p>
    </div>

    <div class="cakeGallery">
        <img src="assets/images/our cake/jaggery-cake.webp" width="400px" height="200px"/>
        <div class="cakeCard">
            <h5>Jaggery Cake</h5>
            <small></small>
        </div>
        <p></p>
    </div>

    <div class="cakeGallery">
        <img src="assets/images/our cake/lemon-curd-cake.webp" width="400px" height="200px"/>
        <div class="cakeCard">
            <h5>Lemon Curd Cake</h5>
            <small></small>
        </div>
        <p></p>
    </div>

    <div class="cakeGallery">
        <img src="assets/images/our cake/love-cake.webp" width="400px" height="200px"/>
        <div class="cakeCard">
            <h5>Love Cake</h5>
            <small></small>
        </div>
        <p></p>
    </div>
    

    <div class="cakeGallery">
        <img src="assets/images/our cake/mocha-cake.webp" width="400px" height="200px"/>
        <div class="cakeCard">
            <h5>Mocha Cake</h5>
            <small></small>
        </div>
        <p></p>
    </div>

</div>
