<main class="cakeGallery">


    <div class="cakeCard">
      <img src="../assets/images/ribbon cake/valentines-1.webp"width="500px" height="300px" />
      <div class="cardRow">
        <h5>Ribbon Cake</h5>
        <small>1250</small>
      </div>
      <p>1Kg</p>
      
    </div>

    <div class="cakeCard">
        <img src="../assets/images/ribbon cake/valentines-2.webp"width="500px" height="300px" />
        <div class="cardRow">
          <h5>Ribbon Cake</h5>
          <small>1250</small>
        </div>
        <p>1Kg</p>
        
      </div>

      <div class="cakeCard">
        <img src="../assets/images/ribbon cake/valentines-3.webp"width="500px" height="300px" />
        <div class="cardRow">
          <h5>Ribbon Cake</h5>
          <small>1250</small>
          </div>
        <p>1Kg</p>
        
      </div>

      <div class="cakeCard">
        <img src="../assets/images/ribbon cake/valentines-4.webp"width="500px" height="300px" />
        <div class="cardRow">
          <h5>Ribbin Cake</h5>
          <small>1000</small>
          </div>
        <p>1Kg</p>
        
      </div>

</main>

