<div class="cakeGallery">


    <div class="cakeCard">
        <img src="../assets/images/cup cake/blueberry-cup.jpg" width="300px" height="150px"/>
        <div class="cardRow">
            <h5>Blueberry Cup Cake</h5>
            <small>150</small>
        </div>
        <p>It's a great cake to take along to a picnic.</p>
    </div>

    <div class="cakeCard">
        <img src="../assets/images/cup cake/choco-cup.jpg" width="300px" height="150px"/>
        <div class="cardRow">
            <h5>Chocolete Cup Cake</h5>
            <small>100</small>
        </div>
        <p>Chocolate Lover's Favorite cake</p>
    </div>

    <div class="cakeCard">
        <img src="../assets/images/cup cake/choco-mud-cup.jpg" width="300px" height="150px"/>
        <div class="cardRow">
            <h5>Chocolet Mud  Cup Cake</h5>
            <small>250</small>
        </div>
        <p><i>This is definitely <br>THE best ever cake for Chocolate lovers.</i></p>
    </div>

    <div class="cakeCard">
        <img src="../assets/images/cup cake/fruit-trifle-cup.jpg" width="300px" height="150px"/>
        <div class="cardRow">
             <h5>Fruit Trifle Cup Cake</h5>
            <small>150</small>
        </div>
        <p> One Cup is never inough!</p>
    </div>

    <div class="cakeCard">
        <img src="../assets/images/cup cake/mousse-cup.jpg" width="300px" height="150px"/>
        <div class="cardRow">
            <h5>Mousse Cup Cake</h5>
            <small>175</small>
        </div>
        <p></p>
    </div>

    <div class="cakeCard">
        <img src="../assets/images/cup cake/strowberry-cheese-cup.jpg" width="300px" height="150px"/>
        <div class="cardRow">
            <h5> Strowberry Cheese Cup Cake</h5>
            <small>100</small>
        </div>
        <p></p>
    </div>

    <div class="cakeCard">
        <img src="../assets/images/cup cake/tiramisu-cup.jpg" width="300px" height="150px"/>
        <div class="cardRow">
            <h5>Tiramisu Cup Cake</h5>
            <small>200</small>
        </div>
        <p></p>
    </div>
    <div class="cakeCard">
        <img src="../assets/images/cup cake/vanilla-cup.webp" width="300px" height="150px"/>
        <div class="cardRow">
            <h5>Vanilla Cup Cake</h5>
            <small>100</small>
        </div>
        <p></p>
    </div>

    <div class="cakeCard">
        <img src="../assets/images/cup cake/x-mas-cup.webp" width="300px" height="150px"/>
        <div class="cardRow">
            <h5>Christmas Cup Cake</h5>
            <small>200</small>
        </div>
        <p><i>Sweet cake bring lots of sweetness in your life</i></p>
    </div>
</div>
