<main class="cakeGallery">


    <div class="cakeCard">
      <img src="../assets/images/christmas cake/x-mas-choco.webp"width="600px" height="400px" />
      <div class="cardRow">
        <h5>X-mas Chocolate cake</h5>
        <small>1500</small>

      </div>
      <p>Our Christmas Cake</p>
    </div>
    <div class="cakeCard">
        <img src="../assets/images/christmas cake/x-mas-ribbon.webp"width="600px" height="400px" />
        <div class="cardRow">
          <h5>X-mas Chocolate cake</h5>
          <small>1500</small>
  
        </div>
        <p>Our Christmas Cake</p>
      </div>

      <div class="cakeCard">
        <img src="../assets/images/christmas cake/x-mas-snow-man.webp" width="600px" height="400px" />
        <div class="cardRow">
          <h5>X-mas Chocolate cake</h5>
          <small>1500</small>
  
        </div>
        <p>Our Christmas Cake</p>
      </div>

      <div class="cakeCard">
        <img src="../assets/images/christmas cake/x-mas-tree.webp"width="600px" height="400px" />
        <div class="cardRow">
          <h5>X-mas Chocolate cake</h5>
          <small>1500</small>
  
        </div>
        <p>Our Christmas Cake</p>
      </div>

</main>
