<div>
    <h4>Customer Special Orders</h4>
    <p>Makes your Special Day Beautyfull! WE desing Cakes for you</p>
</div>
<div class="mainContent">

    

    <div class="cakeGallery">
        <img src="../assets/images/special/birthday-1.jpg"  width="450px" height="300px"/>
       
    </div>

    <div class="cakeGallery">
        <img src="../assets/images/special/birthday-2.jpg"  width="450px" height="300px"/>
       
    </div>

    <div class="cakeGallery">
        <img src="../assets/images/special/birthday-3.jpg"  width="450px" height="300px"/>
       
    </div>

    <div class="cakeGallery">
        <img src="../assets/images/special/birthday-4.webp"  width="450px" height="300px"/>
       
    </div>

    <div class="cakeGallery">
        <img src="../assets/images/special/birthday-5.jpg"  width="450px" height="300px"/>

    </div>

    <div class="cakeGallery">
        <img src="../assets/images/special/birthday-6.jpg"  width="450px" height="300px"/>
       
    </div>

    <div class="cakeGallery">
        <img src="../assets/images/special/doll-cake.webp" width="450px" height="300px"/>
       
    </div>

    <div class="cakeGallery">
        <img src="../assets/images/special/wedding-1.jpg" width="450px" height="500px"/>
       
    </div>

    <div class="cakeGallery">
        <img src="../assets/images/special/wedding-2.jpeg"  width="450px" height="300px"/>
       
    </div>

    <div class="cakeGallery">
        <img src="../assets/images/special/wedding-3.jpg"  width="450px" height="300px"/>
       
    </div>

   

</div>