<div class="mainContent">

    <div class="cakeGallery">
        <img src="assets/images/gateau/black-forest.webp" width="500px" height="300px"/>
        <div class="cakeCard">
            <h5>Black Forest Gateau</h5>
            <small>1920</small>
        </div>
        <p></p>
    </div>

    <div class="cakeGallery">
        <img src="assets/images/gateau/choco-devil.webp" width="500px" height="300px"/>
        <div class="cakeCard">
            <h5>Devil Chocolate Gateau</h5>
            <small>2670</small>
        </div>
        <p></p>
    </div>

    <div class="cakeGallery">
        <img src="assets/images/gateau/choco-gateau.webp" width="500px" height="300px"/>
        <div class="cakeCard">
            <h5>Chocolate Gateau</h5>
            <small>1700</small>
        </div>
        <p></p>
    </div>

    <div class="cakeGallery">
        <img src="assets/images/gateau/mixed-fruit.webp" width="500px" height="300px"/>
        <div class="cakeCard">
            <h5>Mixed Fruit Gateau</h5>
            <small>2670</small>
        </div>
        <p></p>
    </div>

    <div class="cakeGallery">
        <img src="assets/images/gateau/mocha-gateau.webp" width="500px" height="300px"/>
        <div class="cakeCard">
            <h5>Mocha Gateau</h5>
            <small>1760</small>
        </div>
        <p></p>
    </div>

    <div class="cakeGallery">
        <img src="assets/images/gateau/pineapple-gateau.webp" width="500px" height="300px"/>
        <div class="cakeCard">
            <h5>Pineapple Gateau</h5>
            <small>1700</small>
        </div>
        <p></p>
    </div>

</div>
