<div style="text-align: center">

</div>
<article>
    <header>
        <h1 class="pageTitle"> The Cake Shop</h1>
    </header>
    <img src="../assets/images/logo.jpg" width="950px" height="500px" alt="Always in Good Taste" />
    <figcaption class="centerImage">Always in Good Tasete</figcaption>
    <h2>Our Mission</h2>
    <p>At the Cake shop,it's our mission to bring you the largest selection of cake and
        other great quality desserts on the market. Along witha vast welth of knowledge in the products we sell,The CAke
        carries everything you could possibly imagine and more.WE're here for our customers,and want each one of them to have a unique,one-of-a-Kind
        experience at our amazing Cake
    </p>

</article>
